*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Ultrabold.woff2) format(woff2),
        url(../fonts/NeueMachina-Ultrabold.woff) format(woff);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Regular.woff2) format(woff2),
        url(../fonts/NeueMachina-Regular.woff) format(woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

/* Main section */
.header{
    background-image: url(../images/header__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 2rem;
    opacity: 0.699999988079071;
    background: var(--0-a-0-a-0-a, #0A0A0A);
    backdrop-filter: blur(25px);
}

.menu__list-item{
    display: inline-block;
    padding-right: 2rem;
}

.menu__list-link{
    color: var(--939393, #939393);
    font-family: Neue Machina;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.menu__list-link:hover{
    color: var(--ffffff, #FFF);
    font-weight: 800;
}

.menu__search img{
    padding-right: 2rem;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 23rem;
}

.header__body-text{
    color: #FFF;
    font-family: Neue Machina;
}

.header__body-text h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.header__body-text p{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0;
}

.btn{
    width: 250px;
    padding: 1.5rem 0.5rem;
    font-family: Neue Machina;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
}

.button__login{
    color: #FFF;
    background-color: #FE8235;
    border: none;
}

.button__register{
    border: 1px solid #FE8235;
    color: #FE8235;
    background-color: transparent;
}
/* /Main section */


/* Partners section */
.partners{
    background-color: #7FFA8A;
}

.partners__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 0;
}
/* /Partners section */


/* About_one section */
.about{
    background-color: #0A0A0A;
    font-family: Neue Machina;
    color: #FFF;
}

.about__item h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    padding-top: 9rem;
}

.about__item p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
}
/* /About_one section */