*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Ultrabold.woff2) format(woff2),
        url(../fonts/NeueMachina-Ultrabold.woff) format(woff);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Regular.woff2) format(woff2),
        url(../fonts/NeueMachina-Regular.woff) format(woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body{
    margin: 0;
    background-color: #0A0A0A;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

/* Main section */
.header{
    background-image: url(../images/header__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    opacity: 0.699999988079071;
    background: var(--0-a-0-a-0-a, #0A0A0A);
    backdrop-filter: blur(25px);
}
.menu__list{
    flex-grow: 2;
}

.menu__list-item{
    display: inline-block;
    padding-right: 2rem;
}

.menu__list-link{
    color: var(--939393, #939393);
    font-family: Neue Machina;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.menu__list-link:hover{
    color: var(--ffffff, #FFF);
    font-weight: 800;
}

.menu__search img{
    padding-right: 2rem;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 23rem;
}

.header__body-text{
    color: #FFF;
    font-family: Neue Machina;
}

.header__body-text h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.header__body-text p{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0;
}

.btn{
    width: 250px;
    padding: 1.5rem 0.5rem;
    font-family: Neue Machina;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
}

.button__login{
    color: #FFF;
    background-color: #FE8235;
    border: none;
}

.button__register{
    border: 1px solid #FE8235;
    color: #FE8235;
    background-color: transparent;
}
/* /Main section */


/* Partners section */
.partners{
    background-color: #7FFA8A;

}

.partners__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 0;
}
/* /Partners section */


/* About section */
path:hover{
    fill: #0A0A0A;
}

.about{
    font-family: Neue Machina;
    color: #FFF;
}

.about__item h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    padding-top: 9rem;
}

.about__item>p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
}

.about__item-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item-card{
    background-color: #5224B5;
    width: 360px;
    margin-bottom: 2.5rem;
    padding: 2.5rem 2rem 0 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.about__item-card:hover{
    background-color: #FE8235;
    color: #0A0A0A;
}

.about__item-paragraph{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.first-pr{
    font-size: 2.25rem;
    line-height: 140%;
    margin-right: 10rem;
}

.second-pr{
    line-height: 140%;
    font-size: 2rem;
    align-self: stretch;
    flex-basis: 1500px;
}

.about__item-menu{
    margin-bottom: 2rem;
}

.about__menu-list{
    display: flex;
    justify-content: space-between;
}

.about__menu-list ul{
    padding-inline-start: 0;
}

.about__menu-list li{
    display: inline-block;
    margin-right: 1rem;
}

.about__menu-list a{
    background-color: #252525;
    padding: 1.5rem;
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
}

.about__menu-list a:hover{
    background-color: #7FFA8A;
    color: #0A0A0A;
}

.about__menu-list img{
}

.panda__card{
    background-color: #5224B5;
    margin-bottom: 2.25rem;
}

.panda__card>h3{
    padding-left: 1.5rem;
}

.panda__card-item{
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-logo{
    color: #FE8235;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 175.4%;
    letter-spacing: 0.48px;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.card-avatar{
    position: relative;
    top: 15px;
    right: 5px;
}

.card-user{
    padding-top: 20px;
}
/* /About section */