*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Ultrabold.woff2) format(woff2),
        url(../fonts/NeueMachina-Ultrabold.woff) format(woff);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Regular.woff2) format(woff2),
        url(../fonts/NeueMachina-Regular.woff) format(woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #0A0A0A;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5px;
}

input::placeholder {
    color: var(--fe-8235, #FE8235);
    font-family: Neue Machina;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

/* Main section */
.header {
    background-image: url(../images/header__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    opacity: 0.699999988079071;
    background: var(--0-a-0-a-0-a, #0A0A0A);
    backdrop-filter: blur(25px);
}

.header__logo img {
    margin-top: 11px;

}

.menu__list {
    flex-grow: 2;
}

.menu__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
}

.menu__btn:hover path {
    fill: #FFF;
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item+.menu__list-item {
    margin-left: 2rem;
}

.menu__list-link {
    color: var(--939393, #939393);
    font-family: Neue Machina;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.menu__list-link:hover {
    color: var(--ffffff, #FFF);
    transition: all .3s;
    font-weight: 800;
}

.menu__search img {
    padding-right: 2rem;
    cursor: pointer;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 23rem;
}

.header__body-text {
    color: #FFF;
    font-family: Neue Machina;
}

.header__body-text h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.header__body-text p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0;
}

.btn {
    width: 250px;
    padding: 1.5rem 0.5rem;
    font-family: Neue Machina;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
}

.button__login {
    color: #FFF;
    background-color: #FE8235;
    border: none;
}

.button__register {
    border: 1px solid #FE8235;
    color: #FE8235;
    background-color: transparent;
}

/* /Main section */


/* Partners section */
.partners {
    background-color: #7FFA8A;

}

.partners__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 0;
}

/* /Partners section */


/* About section */
path:hover {
    fill: #0A0A0A;
}

.about {
    font-family: Neue Machina;
    color: #FFF;
}

.about__item h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    padding-top: 9rem;
}

.about__item>p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
    max-width: 860px;
}

.about__item-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item-card {
    background-color: #5224B5;
    width: 360px;
    margin-bottom: 2.5rem;
    padding: 2.5rem 2rem 0 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.about__item-card:hover {
    background-color: #FE8235;
    color: #0A0A0A;
}

.about__item-card i {
    font-size: 3.5rem;
    color: #FE8235;
}

.about__item-card:hover path {
    fill: #0A0A0A;
}

.about__item-paragraph {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.first-pr {
    font-size: 2.25rem;
    line-height: 140%;
    margin-right: 10rem;
}

.second-pr {
    line-height: 140%;
    font-size: 2rem;
    flex-basis: 1500px;
}

.about__item-menu {
    margin-bottom: 2rem;
}

.about__menu-list {
    display: flex;
    justify-content: space-between;
}

.select{
    display: none;
}

.about__menu-list ul {
    padding-inline-start: 0;
}

.about__menu-list li {
    display: inline-block;
    margin-right: 1rem;
}

.about__menu-link {
    padding: 1.5rem;
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #252525;
}

.about__menu-list>a {
    padding: 18px;
    background-color: #252525;
    position: relative;
    bottom: 8px;
}

.about__menu-list a:hover {
    background-color: #7FFA8A;
    color: #0A0A0A;
}

.about__menu-list path {
    background-color: #5224B5;
}


.panda__card {
    background-color: #5224B5;
    margin-bottom: 2.25rem;
}

.panda__card>h3 {
    padding-left: 1.5rem;
}

.panda__card-item {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-logo {
    color: #FE8235;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 175.4%;
    letter-spacing: 0.48px;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.card-avatar {
    position: relative;
    top: 15px;
    right: 5px;
}

.card-user {
    padding-top: 1.125rem;
}

/* /About section */


/* Community section */
.community {
    background-color: #1A1919;
    padding-bottom: 58px;
}

.community h3 {
    color: #FFF;
    font-family: Neue Machina;
    font-size: 3rem;
    font-weight: 800;
    line-height: 120%;
    padding-top: 4.125rem;
}

.community p {
    color: #FFF;
    font-family: Neue Machina;
    font-size: 2rem;
    font-weight: 400;
    line-height: 140%;
}

.community__steps {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.community__steps+.community__steps {
    margin-top: 100px;
}

.community__step {
    width: 360px;
    /* height: 264px; */
}

.step-one,
.step-four {
    align-self: flex-start;
}

.step-two,
.step-five {
    align-self: center;
}

.step-three,
.step-six {
    align-self: flex-end;
}


.community__step span {
    display: block;
    color: #7FFA8A;
    font-family: Neue Machina;
    font-size: 1.5rem;
    line-height: 120%;
    padding-bottom: 16px;
}

.community__step-item {
    background-color: #5224B5;
    padding: 1.5rem;

}

.community__step-item p {
    font-size: 24px;
    line-height: 120%;
}

/* /Community section */


/* Explore section */
.explore {
    align-items: center;
    height: 808px;
}

.explore h3 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Neue Machina;
    font-size: 3rem;
    font-weight: 800;
    line-height: 130%;
}

.explore input {
    background-color: transparent;
    border: 1px solid #FE8235;
    padding: 1.5rem 2rem;
    width: 460px;
    margin-right: 16px;
}

.explore__items {
    margin: 0 auto;
    text-align: center;
}

.explore__items+.explore__items {
    margin-top: 32px;
}

.explore-btn {
    background-color: #FE8235;
    color: #FFF;
    border: none;
    height: 64px;
    text-align: center;
    font-family: Neue Machina;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-right: 2rem;
    padding-left: 2rem;
    position: relative;
    top: 2px;
    border: 1px solid #FE8235;
}

.explore__items img {
    position: relative;
    top: 84px;
}

.green__box {
    background-color: #7FFA8A;
    height: 270px;
}

/* /Explore section */

/* Footer */
.footer {
    background-color: #5224B5;
    height: 382px;
}

.footer__content {
    padding-top: 87px;
}

.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__list p {
    color: var(--ffffff, #FFF);
    font-family: Neue Machina;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.3px;
    width: 200px;
}

.footer__list h3 {
    color: var(--ffffff, #FFF);
    font-family: Neue Machina;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.36px;
    transform: translateY(-50%);
}

.footer__list a {
    display: block;
    color: var(--ffffff, #FFF);
    font-family: Neue Machina;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    /* 24px */
    letter-spacing: 0.3px;
}

.footer-social a {
    display: inline-block;
}

/* /Footer */


/* ======= ADAPTIVE ======= */

@media (max-width: 1740px) {
    .header{
        height: 100%;
    }
}
/* 
@media (max-width: 1375px){

} */

@media (max-width: 1230px){
    .about__item{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .community h3{
        font-size: 2.5rem;
    }
    .community p{
        font-size: 1.5rem;
    }

    .community__step {
        width: 320px;
    }

    .community__steps{
        height: 490px;
    }
    .community__steps+.community__steps {
        margin-top: 50px;
    }


    .community__step-item p {
        font-size: 18px;
    }
    .community__step span {
        font-size: 1rem;
        padding-bottom: 6px;
    }
}
@media (max-width: 1115px){
    .menu__list {
        flex-grow: 0;
        margin-left: auto;
        margin-right: 2rem;
        margin-top: 4px;
    }

    .menu__list-items {
        position: absolute;
        left: 20%;
        right: 20%;
        background-color: black;
        top: -330px;
        display: block;
        transition: all .5s;
    }

    .menu__list-items.menu__list-items--active {
        top: 75px;
    }

    .menu__list-item {
        display: block;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }

    .menu__btn {
        display: block;
    }

    .menu__list-link {
        padding: 20px 0;
        display: block;
        text-align: center;
    }

    .menu__list-link:hover {
        color: var(--939393, #939393);
        font-family: Neue Machina;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
    }
    .header__body{
        margin-top: 20rem;
    }

    .header__body-text h1 {
        font-size: 4rem;
        line-height: 110%;
    }    
}

@media (max-width: 1040px){
    .partners__items{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .partners__items img{
        flex-basis: 25%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 985px){
    .community__steps{
        align-items: center;
        flex-direction: column;
        height: 775px;
    }
    .reversed-steps{
        flex-direction: column-reverse;
    }
    .explore {
        align-items: center;
        height: 615px;
    }
    .explore__items img{
        max-width: 760px;
        top: 41px;
    }
}


@media (max-width: 835px){
    .header__body{
        margin-top: 10rem;
        display: block;
        padding-bottom: 3rem;
    }
    .header__body-text{
        text-align: center;
    }
    .header__body-text h1{
        -webkit-text-stroke: 1px #5224B5;
    }
    .header__body-buttons{
        text-align: center;
    }
}

@media (max-width: 810px){
    
    .select{
        background: #252525;
        color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 240px;
        font-size: 1.125rem;
        font-weight: 800;
    }

    .caret{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;
    }
    .about__menu-list{
        position: relative;
        flex-grow: 0;
    }
    .about__menu-list ul{
        position: absolute;
        top: 60px;
        width: 240px;
        background: var(--0-a-0-a-0-a, #0A0A0A);
        opacity: 90%;
        left: -250px;
    }
    .about__menu-list ul.about__menu-list--active{
        left: 100px;
    }
    .about__menu-list li{
        display: block;
        margin: 15px 0;
    }
    .about__menu-list a{
        background-color: transparent;
    }
    .about__menu-list a:hover{
        background-color: transparent;
        color: #fff;
    }
    .about__item-cards{
        align-items: center;
        flex-direction: column;
    }
    
}
@media (max-width: 775px){
    .explore h3{
        font-size: 2rem;
    }
    .explore input{
        width: 330px;
    }
}

@media (max-width: 770px){
    .about__item h2{
        text-align: center;
    }
    .first-pr{
        margin-right: 3rem;
    }
}

@media (max-width: 685px){
    .header__body{
        margin-top: 3rem;
    }
    .menu__list-items{
        left: 25%;
        right: 25%;
    }
    .header__body-text h1 {
        font-size: 3rem;
        line-height: 100%;
    }
    .header__body-text p {
        font-size: 1rem;
        line-height: 120%;
    }
    .btn {
        width: 140px;
        padding: 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    
}

@media (max-width: 620px){
    .about__item h2 {
        font-size: 2rem;
        padding-top: 2rem;
    }
    .about__item>p {
        font-size: 1.3rem;
    }
    .about__item-paragraph {
        display: block;
        margin-bottom: 3rem;
    }
    .first-pr{
        font-size: 1.5rem;
    }
    .second-pr{
        font-size: 1.2rem;
    }
    .community h3 {
        font-size: 2rem;
    }
    .community>p{
        font-size: 1.3rem;
        line-height: 130%;
    }
}

@media (max-width: 440px){
    .header__top {
        padding: 0.5rem;
    }
    .header__body{
        margin-top: 1.5rem;
    }
    .header__body-text h1 {
        font-size: 2.5rem;
        line-height: 120%;
    }
    .header__body-text p {
        font-size: 0.75rem;
    }
    .menu__list{
        margin-right: 1rem;
    }
    .menu__search img {
        padding-right: 0.5rem;
    }
    .btn {
        width: 100px;
        padding: 0.5rem 0.5rem;
        font-size: 0.5rem;
    }
    .partners__items img{
        width: 200px;
    }
    .about__item-card {
        width: 280px;
        padding: 1.5rem 1rem 0 1rem;
    }
    .first-pr{
        margin-right: 3rem;
    }
    .select{
        width: 200px;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .panda__card>img{
        width: 250px;
    }
}

@media (max-width: 350px){
    .about__item-card {
        background-color: #5224B5;
        width: 240px;
        margin-bottom: 2.5rem;
        padding: 1.5rem 1rem 0 1rem;
        font-size: 16px;
    }
    .about__item-card svg{
        width: 50px;
    }
    .community__step {
        width: 240px;
    }
    .community__steps+.community__steps {
        margin-top: 225px;
    }
    .community__step-item svg{
        width: 50px;
    }
}
    
/* @media (max-width: 345px){

} */